#aboutUs{
  background-color: #00b0b0;
  padding-top: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  @include desk{
    flex-wrap: nowrap;
    height: 100vh;
  };
  .image1{
    background-image: url("../images/b02.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 95vw;
    height: 95vw;
    margin: 1rem;
    @include desk{
      width: 50vw;
      height: auto;
    };
  }
  article{
    align-self: flex-start;
    width: 100%;
    text-align: left;
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    @include desk{
      width: 50vw;
      padding-left: 3rem;
      margin-top: 5rem;
      p{
          font-size: 1.5rem;
      }
    };
  }
}
.aboutHeader{
  text-align: left;
  width: 100%;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  @include desk{
    font-size: 6rem;
  };
}
