#footer{
  height: 8rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  @include desk{
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 8rem;
    padding-right: 8rem;
  };
  h6{
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    color: #666;
    font-weight: 400;
  }
  span{
    color: red;
  }
}
